    /* ---------- GENERAL ---------- */
    
     :root {
        --blanco: #ffffff;
        --oscuro: #212121;
        --primario: #FFC107;
        --secundario: #0097A7;
        --h1_span: #ff882b;
        --gris: #757575;
    }
    
    html {
        font-size: 62.5%;
        box-sizing: border-box;
        scroll-snap-type: y mandatory;
    }
    
    .servicios,
    .navegacion-principal,
    .formulario {
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        font-size: 16px;
        font-family: 'Krub', sans-serif;
        background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
    }
    
    .boton {
        background-color: var(--secundario);
        color: var(--blanco);
        padding: 1rem 3rem;
        margin-top: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: .5rem;
        width: 90%;
        text-align: center;
        border: none;
    }
    
    @media (min-width: 768px) {
        .boton {
            width: auto;
        }
    }
    
    .boton:hover {
        cursor: pointer;
    }
    /* ---------- ENCABEZADO ---------- */
    
    h1.header {
        text-align: center;
        color: var(--oscuro);
        font-size: 3.8rem;
    }
    
    h1.header span {
        color: var(--h1_span);
        font-size: 2rem;
    }
    /* ---------- SOMBRA ---------- */
    
    .sombra {
        padding: 2rem;
        margin-bottom: 3rem;
        background-color: var(--blanco);
        border-radius: 1rem;
        /*  box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63); */
        box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    }
    
    .contenedor {
        max-width: 120rem;
        margin: 0 auto;
    }
    /* ---------- NAVBAR PRINCIPAL ---------- */
    
    div.nav-bg {
        background-color: var(--secundario);
    }
    
    nav.navegacion-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    nav.navegacion-principal a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--blanco);
        font-weight: bold;
        font-style: 2rem;
        padding: 1rem;
    }
    
    nav.navegacion-principal a:hover {
        background-color: var(--primario);
        color: var(--oscuro);
    }
    
    nav.navegacion-principal a:focus {
        background-color: var(--primario);
        color: var(--oscuro);
    }
    
    @media (min-width: 768px) {
        nav.navegacion-principal {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    /* ---------- HERO ---------- */
    
    section.hero {
        background-image: url(../img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 45rem;
        position: relative;
    }
    
    section.hero .contenido-hero {
        position: absolute;
        background-color: rgb(0 0 0 / 60%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    div.contenido-hero h2 {
        text-align: center;
        color: var(--blanco);
        font-size: 3.8rem;
    }
    
    div.contenido-hero h2 span {
        color: var(--h1_span);
        font-size: 2.2rem;
        letter-spacing: 3px;
    }
    
    div.contenido-hero p {
        text-align: center;
        color: var(--blanco);
    }
    
    div.contenido-hero .ubicacion {
        display: flex;
        align-items: center;
    }
    /* ---------- SERVICIOS ---------- */
    
    main.contenedor h2 {
        text-align: center;
    }
    
    div.servicios section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    @media (min-width:768px) {
        .servicios {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1rem;
        }
    }
    
    section.servicio h3 {
        text-align: center;
        color: var(--secundario);
    }
    
    section.servicio p {
        line-height: 2;
    }
    
    section.servicio .iconos {
        height: 15rem;
        width: 15rem;
        background-color: var(--primario);
        border-radius: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /* ---------- CONTACTO ---------- */
    
    form.formulario {
        background-color: var(--gris);
        width: min( 60rem, 100%);
        margin: 0 auto;
        padding: 2rem;
        border-radius: 1rem;
    }
    
    form.formulario fieldset {
        border: none;
    }
    
    form.formulario legend {
        color: var(--primario);
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    
    @media (min-width: 768px) {
        div.contenedor-campos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
        }
        .campo:nth-child(3),
        .campo:nth-child(4) {
            grid-column: 1 / 3;
        }
        div.campo {
            margin-bottom: 1rem;
        }
    }
    
    div.campo label {
        color: var(--blanco);
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: block;
    }
    
    div.campo input[type="text"],
    div.campo input[type="tel"],
    div.campo input[type="mail"],
    div.campo textarea {
        width: 100%;
        border: none;
        padding: 1.5rem;
        border-radius: .5rem;
    }
    
    div.campo textarea {
        height: 20rem;
    }
    
    input.w-100 {
        width: 100%;
    }
    
    @media (min-width: 768px) {
        input.w-100 {
            width: auto;
        }
    }
    
    div.flex {
        display: flex;
    }
    
    div.alinear-derecha {
        justify-content: flex-end;
    }
    /* ---------- FOOTER ---------- */
    
    footer {
        text-align: center;
    }